body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #d0f046;
    text-align: center;
    margin: 0;
    padding: 2rem; 

}

h1{
    margin-top:0;
    margin-bottom:2rem;
}

.game-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.game {
    background:#AC8053;
    width: fit-content;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
}

td {
    background-color: green;
    width: 65px;
    height: 65px;
    text-align: center;
    border: 2px solid black;

}

.emptypiece{
    background-color: aliceblue;
}


.centre {
     margin: 0 auto;
     justify-content: center;
     align-items: center;
}

table {
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}

.catpiece{
    background-color: green;
    background-image: url("assets/cat.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.dogpiece{
    background-color: green;
    background-image: url("assets/dog.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.king.catpiece {
    background-color: green;
    background-image: url("assets/lion.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.king.dogpiece {
    background-color: green;
    background-image: url("assets/wolf.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.player_turn{
    width: 200px;
    padding: 20px;
    text-align: center;
    border: 3px solid #333;
    border-radius: 12px;
    background-color: #eee;
}

.player_turn.active{
    background-color: gold;
    border-color: orange;
}

.player_icon {
  width: 65px;
  height: 65px;
  margin: 0 auto;
  border: 2px solid black;
}

.selected {
    outline: 4px solid blue;
}

#result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}